.header {
  min-height: 60px;
  /* background-color: red; */
  width: 100%;
  display: flex;
}
.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header ul li {
  list-style: none;
  margin: 0 40px;
}
.header ul li a {
  text-decoration: none;
  color: white;
}
.light-mode .header ul li a {
  background-color: #fff;
  color: #333;
}
@media screen and (max-width: 660px) {
  .header ul li {
    margin: 0 10px;
  }
}
